{% extends 'base.html.twig' %}

{% block content %}
    {% include 'widgets/tabs.html.twig' %}

    <ul id="pull-req-list">
    {% for pull_req in pull_reqs %}
        <li>{{ pull_req.title }}</li>
    {% endfor %}
    </ul>
{% endblock %}
