{% extends 'base.html.twig' %}

{% block content %}
    {% include 'widgets/tabs.html.twig' %}

    <ul id="pull-req-list">
    {% for pull_req in pull_reqs %}
        <li><a href="{{ path("home_pull_req_show", {id: pull_req.id}) }}">{{ pull_req.title }}</a></li>
    {% endfor %}
    </ul>
{% endblock %}
