{% extends 'base.html.twig' %}

{% block content %}
    {% include 'widgets/tabs.html.twig' %}

    <h2>{{ pull_req.title }}</h2>

    {% if pull_req.merged %}
        <strong>merged!</strong>
    {% endif %}
    {% if pull_req.approved %}
        <strong>approved</strong>
    {% else %}
        <strong>not approved yet</strong>

        <form action="{{ path("pull_req_review", {id: pull_req.id}) }}" method="POST" id="pull-req-review">
            {{ form_widget(review_form) }}
        </form>
    {% endif %}


{% endblock %}
