{% extends "base.html.twig" %}

{% block content %}
    <form action="{{ path("pull_req_fix", {id: pull_req.id}) }}" method="post">
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">Fix PullRequest</button>
    </form>
{% endblock %}
